@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292929;
  --foreground: #ffffff; /* Белый текст для контраста */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #ffffff;
  }
}

body {
  @apply bg-background text-foreground; /* Tailwind классы для установки фона и текста */
  font-family: Arial, Helvetica, sans-serif;
}
